<form
hx-post="{% url 'accounts:update' target t_user.id %}"
hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
hx-target="this"
hx-swap="outerHTML"
hx-indicator="#update-{{t_user.id}}-{{target}}"
>   
    {% csrf_token %}
    {% for ms in messages %}
    <li>{{ms}}</li>
    {% endfor %}    
    <select 
    name="{{target}}" 
    class="form-select"
    {% if disabled %}disabled{% endif %}
    >
        {% for option in options %}
            <option
            value="{{option.0}}"
            {% if option.0 == value %}selected{% endif %}
            >{{option.1}}</option>
        {% endfor %}
    </select>
    <span id="update-{{t_user.id}}-{{target}}" class="htmx-indicator spinner-border" role="status">
        <span class="sr-only"></span>
    </span>
</form>
