{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container">
<div class="pb-1">{{user.username}}</div>
{% include "widgets/badges/rank.html" %}
{% include "widgets/badges/permission.html" %}
<div class="pb-3">{{user.email}}</div>


<div class="pb-2">
    Ime
    <div 
    hx-get="{% url 'accounts:update' 'first_name' user.id %}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="load"
    ></div>
</div>
<div>
    Priimek
    <div 
    hx-get="{% url 'accounts:update' 'last_name' user.id %}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="load"
    ></div>
</div>
</div>
{% endblock content %}