{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row bg-body-tertiary h-100">
    <div class="col-8 d-flex flex-column">
    <h1 class="text-center my-3">DOBRODOŠLI</h1>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    It has survived not only five centuries, but also the leap into electronic typesetting, 
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

    <div class="col bg-body-secondary d-flex flex-column">
    <h3 class="text-center my-3">KORISTNE POVEZAVE</h3>

    <strong class="my-2">SPLOŠNE</strong>
    <ul>
        <li> <a href="http://alpirocnik.rasica.org/index.php/Glavna_stran">ALPIROČNIK</a></li>
        <li> <a href="http://www.gore-ljudje.net/">GORE IN LJUDJE</a></li>
        <li> <a href="http://ka.pzs.si/">KOMISIJA ZA ALPINIZEM</a></li>
        <li> <a href="http://www.pzs.si/">PZS</a></li>
        <li> <a href="http://www.plezanje.net/climbing/index.asp">PLEZANJE.NET</a></li>
        <li> <a href="http://www.montagna.org">MONTAGNA.ORG</a></li>
        <li> <a href="http://www.planetmountain.com">PLANET MOUNTAIN</a></li>
        <li> <a href="http://www.primorskestene.com">PRIMORSKE STENE</a></li>
        <li> <a href="http://www.sneznik.net">SNEŽNIK</a></li>
        <li> <a href="http://www.slo-alp.com/">SLO-ALP</a></li>
    </ul>

    <strong class="my-2">VREMENSKE, LAVINSKE IN LEDNE RAZMERE</strong>
    <ul>
        <li><a href="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/">ARSO</li></a>
        <li><a href="http://meteo.hr/index.php">Meteo Hrvaška</li></a>
        <li><a href="http://www.ilmeteo.it/meteo-europa/Slovenia">IlMeteo.it</li></a>
        <li><a href="http://www.regione.fvg.it/asp/newvalanghe/">FVG lavinska napoved</li></a>
        <li><a href="http://www.plazovi.info/plazovi/snezni_plazovi.html">Plazovi info</li></a>
    </ul>


    <strong class="my-2">TRGOVINE</strong>
    <ul>
    <li><a href="http://www.iglusport.si/" target="_blank" rel="noopener">IGLU ŠPORT</a></li>
    <li><a href="http://www.promontana.si/" target="_blank" rel="noopener">PROMONTANA</a></li>
    <li><a href="http://www.kibuba.com/index.php" target="_blank" rel="noopener">KIBUBA</a></li>
    <li><a href="http://www.climbersonly.net/" target="_blank" rel="noopener">CLIMBERSONLY.NET</a></li>
    <li><a href="http://www.sportler.com/sportlerShop/ingresso;jsessionid=XDSofUXpyJgCPypKhMKOEmex">SPORTLER</a></li>
    </ul>

    </div>

</div>

{% endblock content %}

{% comment %} https://getbootstrap.com/docs/5.3/examples/ {% endcomment %}