{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row border h-100 rounded">
    <div class="col-10 d-flex flex-column shadow">
        <h1 class="text-center my-3">DOBRODOŠLI</h1>
        <div class="row row-cols-1">
        
        <div class="col pb-3">
        <h2> ZADNJE POROČILO </h2>
            <div class="section border rounded p-2 btn btn-primary w-100 text-start mb-2">
                <a href="{% url 'pages:reports:all' %}" class="list-group-item list-group-item-action">
                {% include "widgets/report/post.html" with data=report %}
                </a>
            </div>
        </div>
        <div class="col pb-3">
            <h2> ZADNJE NOVICE </h2>
            <div class="section border rounded p-2 btn btn-secondary w-100 text-start">
                <a href="{% url 'pages:news' %}" class="list-group-item list-group-item-action">
                {% include "widgets/news/post.html" with data=news_post %}
                </a>
            </div>
        </div>
    </div>
</div>

    <div class="col border-start d-flex flex-column">
    <h3 class="text-center my-3 mx-3">KORISTNE POVEZAVE</h3>

    <button class="my-1 mx-3 btn btn-primary" data-bs-toggle="collapse" href="#splošne" aria-expanded="false" aria-controls="splošne">Splošne</button>
    <div class="list-group collapse mx-3" id="splošne">
        <a class="list-group-item list-group-item-action" href="http://alpirocnik.rasica.org/index.php/glavna_stran">Alpiročnik</a>
        <a class="list-group-item list-group-item-action" href="http://www.gore-ljudje.net/">Gore in ljudje</a>
        <a class="list-group-item list-group-item-action" href="http://ka.pzs.si/">Komisija za alpinizem</a>
        <a class="list-group-item list-group-item-action" href="http://www.pzs.si/">PZS</a>
        <a class="list-group-item list-group-item-action" href="http://www.plezanje.net/climbing/index.asp">plezanje.net</a>
        <a class="list-group-item list-group-item-action" href="http://www.planetmountain.com">Planet mountain</a>
        <a class="list-group-item list-group-item-action" href="http://www.primorskestene.com">Primorske stene</a>
        <a class="list-group-item list-group-item-action" href="http://www.sneznik.net">Snežnik</a>
        <a class="list-group-item list-group-item-action" href="http://www.slo-alp.com/">Slo-Alp</a>
    </div>

    <button class="my-1 mx-3 btn btn-primary" data-bs-toggle="collapse" href="#vremenske" aria-expanded="false" aria-controls="vremenske">Vremenske, lavinske in ledne razmere</button>
    {% comment %} <strong class="my-2">Vremenske, lavinske in ledne razmere</strong> {% endcomment %}
    <div class="list-group collapse mx-3" id="vremenske">
        <a class="list-group-item list-group-item-action" href="http://www.arso.gov.si/vreme/napovedi_in_podatki/">ARSO</a>
        <a class="list-group-item list-group-item-action" href="http://meteo.hr/index.php">Meteo Hrvaška</a>
        <a class="list-group-item list-group-item-action" href="http://www.ilmeteo.it/meteo-europa/slovenia">ilmeteo.it</a>
        <a class="list-group-item list-group-item-action" href="http://www.regione.fvg.it/asp/newvalanghe/">FVG lavinska napoved</a>
        <a class="list-group-item list-group-item-action" href="https://plazovi.info/sne%C5%BEni-plaz">Plazovi info</a>
    </div>


    {% comment %} <strong class="my-2">Trgovine</strong> {% endcomment %}
    <button class="my-1 mx-3 btn btn-primary" data-bs-toggle="collapse" href="#trgovine" aria-expanded="false" aria-controls="trgovine">Trgovine</button>
    <div class="list-group collapse mx-3" id="trgovine">
    <a class="list-group-item list-group-item-action" href="http://www.iglusport.si/" target="_blank" rel="noopener">Iglu šport</a>
    <a class="list-group-item list-group-item-action" href="http://www.promontana.si/" target="_blank" rel="noopener">Promontana</a>
    <a class="list-group-item list-group-item-action" href="http://www.kibuba.com" target="_blank" rel="noopener">Kibuba</a>
    <a class="list-group-item list-group-item-action" href="https://www.tnfshop.si/" target="_blank" rel="noopener">tnfshop.si</a>
    <a class="list-group-item list-group-item-action" href="http://www.sportler.com/sportlershop/ingresso;jsessionid=xdsofuxpyjgcpypkhmkoemex">Sportler</a>
    </div>

    </div>

</div>

{% endblock content %}

{% comment %} https://getbootstrap.com/docs/5.3/examples/ {% endcomment %}