{% extends "base.html" %}
{% load static %}
{% block content %}
<div 
class="row row-cols-2 p-2"
>
  
  <div 
  class="col-3 row-cols-1 list-group align-items-center p-3"
  style="max-height: 80vh;"
>
    <div class="row">
      <h3>
        Išči Poročila
        <span class="htmx-indicator spinner-border" role="status">
            <span class="sr-only"></span>
        </span>
        {% if user.permission == "M" or user.permission == "A" %}
        <p>
          ali <a 
          href="{% url 'pages:reports:create' %}"
          class = "btn border rounded btn-success"
          >Ustvari Novega</a>
        </p>
        {% endif %}
      </h3>
      <input class="form-control my-2" type="search"
            name="search" placeholder="Begin Typing To Search Reports..."
            hx-post="{% url 'api:reports' %}"
            hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
            hx-target="#report--selection"
            hx-indicator=".htmx-indicator"
            hx-vals='{"csrfmiddlewaretoken": "{{csrf_token}}"}'
      >
    </div>
    <div class="h-75 overflow-scroll border rounded shadow">
      <div class="row-cols-1  m-2 p-2" id="report--selection">
      </div>
    </div>
  </div>

  <div 
  class="col-9 text-break border rounded overflow-scroll h-75 p-3"
  style="max-height: 80vh;"
  id="report--container"
  >
    {% include "widgets/report/post.html" with data=default %}
  </div>

</div>
{% endblock content %}