{% extends "base.html" %}

{% block content %}
    <div class="d-flex p-3 m-5 border shadow card">
    {% include "widgets/report/post.html" with data=report%}

    {% include "widgets/gallery/tree.html" with data=gallery %}
    </div>
    <div
    id="comments-list"
    hx-get="{% url 'api:comments' report.id %}" 
    hx-swap="innerHTML" 
    hx-target="#comments"
    hx-swap-oob="true"
    hx-trigger="load, from:#new_comment"
    >
        <div id="comments">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div hx-get="{% url 'api:post_comment' report.id %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>

    </div>


{% endblock content %}  

