{% if user.is_authenticated %}
<form 
hx-post="{% url 'api:post_comment' id %}" 
hx-trigger="submit"
hx-target="this"
hx-swap="outerHTML"
hx-on::after-request="if(event.detail.successful) document.getElementById('note-input').value = ''"
class=""
>
<div class="justify-content-center text-center w-50">
    {% csrf_token %}
    {{form.content}}
    <div class="">
    <button
    id="comment-submit"
    type="submit"
    class="btn btn-primary w-100 ms-1 py-0"
    >Post</button>
    </div>
  </div>
</form>
{% else %}
<p>You need to be loged in to post comments!</p>
<p>Log in or sign up here:</p>
<div class="d-flex" role="button">
    <a class="btn btn-primary" href="{% url 'accounts:login' %}">Login</a>
    <div class="p-1"></div>
    <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign up</a>
  </div>
{% endif %}