{% load static %}
<header>
    {# inspired by https://getbootstrap.com/docs/4.0/components/navbar/ #}
     {% comment %} fixed-top {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <div class="container">
        
          <a class="navbar-brand" href="{% url 'pages:home' %}"><img class="mx-3" style="max-width:10%;" src="{% static 'images/logo.png' %}">Obalni alpinistični klub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% url 'pages:home' as link %}
                <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{link}}">Domov</a>
              </li>
              <li class="nav-item">
                {% url 'pages:reports' as link %}
                <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{link}}">Poročila</a>
              </li>
              <li class="nav-item">
                {% url 'pages:news' as link %}
                <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{link}}">Novice</a>
              </li>
              <li class="nav-item">
                {% url 'pages:about_us' as link %}
                <a class="nav-link {% if request.path == link %}active{% endif %}" href="{{link}}">O nas</a> 
              </li>
          </div>
          {% if user.is_authenticated %}
          <div class="d-flex" role="button">
            <a class="btn btn-primary" href="{% url 'accounts:update' %}">My profile</a>
            <div class="p-1"></div>
            <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Log out</a>
          </div>
          {% else %}
          <div class="d-flex" role="button">
            <a class="btn btn-primary" href="{% url 'accounts:login' %}">Login</a>
            <div class="p-1"></div>
            <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign up</a>
          </div>
          {% endif %}

        </div>
      </nav>
</header>


              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> {% endcomment %}
              {% comment %} <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> 
            </ul>{% endcomment %}
            {% comment %} <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}

            {% comment %} <img class="mx-2" style="max-width:10%;" src="{% static 'images/logo.png' %}"> {% endcomment %}