{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html class="h-100" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Obalni alipnistični klub{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <script src="{% static 'htmx.min.js' %}"></script>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="d-flex flex-column h-100">
        {% block header %}
        {% include "widgets/navbar.html" %}
        {% endblock header %}
        <main class="flex-fill container">
        {% block content %}
        default content
        {% endblock content %}
        </main>
        {% block footer %}
        {% include "widgets/footer.html" %}
        {% endblock footer %}
    </body>
</html>
